.layout {
  min-height: 100vh;
}

.auth-form {
  max-width: 300px;
  margin: 0 auto;
}

.auth-form-button {
  width: 100%;
}

.auth-form-forgot {
  float: right;
}

.auth-form-register-now {
  float: right;
}
